services:
  server:
    build: .
    volumes:
      - ./config:/config
    env_file:
      - .env
    environment:
      - "ZWOP_PROXY_ROOT=/${COMPOSE_PROJECT_NAME}"
      - "ZWOP_PROXY_HEADERS=true"
      - "ZWOP_FORWARDED_ALLOW_IPS=*"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.${COMPOSE_PROJECT_NAME}-stripprefix.stripprefix.prefixes=/${COMPOSE_PROJECT_NAME}"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.middlewares=${COMPOSE_PROJECT_NAME}-stripprefix"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=PathRegexp(`^/${COMPOSE_PROJECT_NAME}(/|$)`)"
      - "traefik.http.services.${COMPOSE_PROJECT_NAME}.loadbalancer.server.port=8000"
