<div class="card-lg bg-base-100 shadow-xl">
  <div class="card-body relative mb-2">
    <h2 class="card-title">Bot Created</h2>
    <div>
      <span>Proposal: </span>
      <span class="opacity-80" id="proposal_no">{{ client.proposal_no }}</span>
    </div>
    <div>
      <span>Stream: </span>
      <span class="opacity-60" id="stream_name">{{ client.stream }}</span>
    </div>
    <div>
      <span>Bot Name: </span>
      <span class="opacity-60" id="bot_name">{{ client.bot_name }}</span>
    </div>
    <div>
      <span>Bot Site: </span>
      <span class="opacity-60" id="bot_name">{{ bot_site }}</span>
    </div>
    <div>
      <span>Key: </span>
      <span class="font-xs max-w-32 font-mono opacity-60" id="key"
        >{{ client.key }}</span
      >
    </div>
    <div class="card-actions">
      <button
        class="btn btn-primary"
        onclick="copyToClipboard(this)"
        key="{{ client.key }}"
      >
        Copy Key
      </button>
    </div>
  </div>
</div>

<script>
  function copyToClipboard(element) {
    let key = element.getAttribute("key");
    navigator.clipboard.writeText(key).then(() => {
      element.classList.add("btn-success");
      setTimeout(() => {
        element.classList.remove("btn-success");
      }, 2000);
    });
  }
</script>
