{% for client in clients | sort(attribute='created_at', reverse=True) %}
  <tr class="hover" key="{{ client.token.get_secret_value() }}">
    <td>
      {{ client.proposal_no }}
    {% if client.bot_site.host != "mylog.connect.xfel.eu" %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="h-6 w-6"
      >
        <path
          fill-rule="evenodd"
          d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
          clip-rule="evenodd"
        />
      </svg>
    {% endif %}
    </td>
    <td>{{ client.created_at.strftime("%Y-%m-%d %H:%M") }}</td>
    <td>{{ client.created_by.replace("@xfel.eu", "") }}</td>
    <td>{{ client.stream }}</td>
    <td class="text-right">
      <button
        class="btn btn-ghost tooltip transition ease-in-out"
        data-tip="Copy Client Key"
        onclick="copyToClipboard(this)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-6 w-6"
        >
          <path
            fill-rule="evenodd"
            d="M10.5 3A1.501 1.501 0 0 0 9 4.5h6A1.5 1.5 0 0 0 13.5 3h-3Zm-2.693.178A3 3 0 0 1 10.5 1.5h3a3 3 0 0 1 2.694 1.678c.497.042.992.092 1.486.15 1.497.173 2.57 1.46 2.57 2.929V19.5a3 3 0 0 1-3 3H6.75a3 3 0 0 1-3-3V6.257c0-1.47 1.073-2.756 2.57-2.93.493-.057.989-.107 1.487-.15Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <button
        class="btn btn-ghost tooltip ease-in-out"
        data-tip="View Messages"
        hx-push-url="true"
        hx-get="{{ url_for('client_messages') }}"
        hx-on::before-request="viewMessagesKey = getKeyForRow(event);"
        hx-headers="js:{'X-API-key': getKeyForRow(event)}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-6 w-6"
        >
          <path
            fill-rule="evenodd"
            d="M4.848 2.771A49.144 49.144 0 0 1 12 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 0 1-3.476.383.39.39 0 0 0-.297.17l-2.755 4.133a.75.75 0 0 1-1.248 0l-2.755-4.133a.39.39 0 0 0-.297-.17 48.9 48.9 0 0 1-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97ZM6.75 8.25a.75.75 0 0 1 .75-.75h9a.75.75 0 0 1 0 1.5h-9a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H7.5Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <div class="dropdown dropdown-left">
        <div tabindex="0" role="button" class="btn btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu dropdown-content z-[1] w-52 rounded-box bg-base-100 p-2 shadow"
        >
          <li>
            <a
              class="pointer-events-none opacity-60"
              style="cursor: not-allowed"
              disabled
            >
              Info
            </a>
          </li>
          <li>
            <a class="hover:bg-error" onclick="deleteClient(this)">
              Delete
              <div
                id="spinner"
                class="text loading loading-spinner hidden"
              ></div>
            </a>
          </li>
        </ul>
        <div />
      </div>
    </td>
  </tr>
{% endfor %}

<script>
  function getKeyForRow(event) {
    return event.target.closest("tr").getAttribute("key");
  }

  function copyToClipboard(element) {
    let key = element.parentElement.parentElement.getAttribute("key");
    navigator.clipboard.writeText(key).then(() => {
      element.classList.remove("btn-ghost");
      element.classList.add("btn-success");
      setTimeout(() => {
        element.classList.remove("btn-success");
        element.classList.add("btn-ghost");
      }, 500);
    });
  }

  function wait(ms) {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  async function sendToast(msg, type) {
    let toast = document.createElement("div");

    toast.innerHTML = `
      <div class="alert ${type}">
        <span>${msg}</span>
      </div>
    `;

    document.getElementById("toasts").appendChild(toast);

    await wait(5000);

    toast.remove();
  }

  async function deleteClient(element) {
    let client = element.closest("tr");
    let key = client.getAttribute("key");
    let proposal_no = client.getElementsByTagName("td")[0].innerText;

    if (
      !confirm(`Are you sure you want to delete the client for ${proposal_no}?`)
    ) {
      return;
    }

    let toast = document.createElement("div");

    let spinner = element.getElementsByTagName("div")[0];
    spinner.classList.remove("hidden");

    try {
      const response = await fetch("{{ url_for('client_delete') }}", {
        method: "DELETE",
        headers: {
          "Content-Type": "text/plain",
          "X-API-key": key,
        },
      });

      const content = await response.json();
      const detail = content.detail || content.message || content;

      if (response.ok) {
        client.remove();
        await sendToast(`${detail}`, "alert-info");
        return;
      }

      spinner.classList.add("hidden");

      if (response.headers.get("content-type") !== "application/json") {
        throw `unexpected response: ${response.statusText} ${response.status}`;
      }

      if (response.status === 404) {
        await sendToast(
          `Could not delete client for ${proposal_no} - ${detail}`,
          "alert-warning",
        );
      } else {
        throw `unexpected response: ${detail} (${response.statusText} ${response.status})`;
      }
    } catch (e) {
      spinner.classList.add("hidden");
      await sendToast(
        `Error deleting client ${proposal_no} - ${e}`,
        "alert-error",
      );
    }
  }

  var viewMessagesKey = null;
</script>
