<div
  id="navbar"
  class="navbar sticky top-0 z-30 w-full justify-center bg-opacity-90 backdrop-blur"
  hx-boost="true"
>
  <div class="flex-1">
    <a
      hx-push-url="false"
      class="btn btn-ghost text-xl"
      href="{{ url_for('root') }}"
      hx-swap="outerHTML"
      >ZWOP</a
    >
  </div>
  <div
    class="flex-none"
    hx-target="#content"
    hx-select="#content"
    hx-swap="outerHTML"
    hx-push-url="false"
  >
    <ul class="menu menu-horizontal px-1">
      <li>
        <a href="{{ url_for('client_list') }}">List</a>
      </li>
      <li>
        <a href="{{ url_for('client_create') }}">Create</a>
      </li>
      <li>
        <a hx-boost="false" href="{{ url_for('logout') }}">Logout</a>
      </li>
    </ul>
  </div>
</div>
