{% if not request.headers.get("HX-request") %}
  {# Return the whole page on normal requests #}
  <!doctype html>
  <html lang="en">
    <head>
      <title>ZWOP</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="{{ static_main_css }}" rel="stylesheet" type="text/css" />
      <script src="{{ static_htmx }}"></script>
      <meta
        name="htmx-config"
        content='{"methodsThatUseUrlParams": ["post"]}'
      />
    </head>

    <body class="mx-auto max-w-screen-lg">
      {% block navbar %}
        {% include 'fragments/navbar.html' %}
      {% endblock %}
      <div
        id="content"
        class="flex flex-col gap-4 px-4 sm:px-6 md:gap-6 md:px-8"
      >
        {% block content %}
        {% endblock %}
      </div>
      <script>
        document.body.addEventListener("htmx:beforeOnLoad", function (evt) {
          if ([403, 401].includes(evt.detail.xhr.status)) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
          }
        });
      </script>
    </body>
  </html>
{% else %}
  {# Return only the subpage content on HTMX requests #}
  {{ self.content() }}
{% endif %}
