{% extends 'base.html' %}
{% block content %}
  <form
    id="formCreate"
    class="flex flex-col gap-4 md:gap-6"
    hx-post="{{ url_for('client_create') }}"
    hx-indicator="#spinner"
    hx-target="#response"
  >
    <div>
      {% for name, field in required.items() %}
        <span class="label label-text"> {{ field['title'] }}:</span>
        <input
          {% if field['type'] == 'integer' %}
            type="number"
          {% elif field['type'] == 'boolean' %}
            type="checkbox"
          {% else %}
            type="text"
          {% endif %}
          name="{{ name }}"
          class="input input-bordered w-full"
          required
        />
      {% endfor %}
    </div>
    <div class="collapse collapse-arrow bg-base-200">
      <input type="checkbox" />
      <div class="collapse-title">Manually configure</div>
      <div class="collapse-content">
        {% for name, field in optional.items() %}
          <div>
            <span class="label label-text">{{ field['title'] }}:</span>
            <input
              type="text"
              name="{{ name }}"
              {% if field['default'] %}
                placeholder="{{ field['default'] }}"
              {% endif %}
              class="input input-bordered w-full"
            />
          </div>
        {% endfor %}
      </div>
    </div>
    <button class="btn" id="submitBtn">
      <div id="spinner" class="htmx-indicator loading loading-spinner"></div>
      Submit
    </button>
  </form>

  <div id="response" class="mx-auto content-center"></div>

  <script>
    document.addEventListener("htmx:configRequest", (event) => {
      if (event.target.id == "formCreate") {
        event.detail.useUrlParams = true;
        Object.keys(event.detail.parameters).forEach(
          (key) =>
            event.detail.parameters[key] == "" &&
            delete event.detail.parameters[key],
        );
      }
    });

    function copyToClipboard(element) {
      let key = element.innerText;
      navigator.clipboard.writeText(key).then(() => {
        element.classList.add("btn-success");
        setTimeout(() => {
          element.classList.remove("btn-success");
        }, 2000);
      });
    }
  </script>
{% endblock %}
