{% extends 'base.html' %}
{% block content %}
  <table
    id="table"
    class="table"
    hx-swap="innerHTML settle:0s swap:0s"
    hx-trigger="load"
    hx-get="{{ url_for('client_list') }}"
    hx-target="#rows"
  >
    <thead>
      <tr>
        <th class="max-w-1/6 w-min">Proposal</th>
        <th class="max-w-2/6">Created At</th>
        <th class="max-w-2/6">Created By</th>
        <th class="max-w-2/6">Stream</th>
        <th class="max-w-1/6 w-min text-right">Actions</th>
      </tr>
    </thead>
    <tbody id="rows" class="opacity-0 transition delay-75 ease-in-out"></tbody>
  </table>
  <script>
    document.body.addEventListener("htmx:afterOnLoad", function (event) {
      if (event.detail.target.id === "rows") {
        event.detail.target.classList.remove("opacity-0");
      }
    });
  </script>
{% endblock %}
