{% extends 'base.html' %}
{% block content %}
  <table
    class="table"
    hx-trigger="load"
    hx-target="tbody"
    hx-get="{{ url_for('client_list') }}"
  >
    <thead>
      <tr>
        <th scope="col">Proposal</th>
        <th scope="col">Stream</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="rows"></tbody>
  </table>
  <script>
    function copyToClipboard(element) {
      let key = element.parentElement.parentElement.getAttribute("key");
      navigator.clipboard.writeText(key).then(() => {
        element.classList.add("btn-success");
        setTimeout(() => {
          element.classList.remove("btn-success");
        }, 2000);
      });
    }

    function viewMessages(element) {
      let key = element.parentElement.parentElement.getAttribute("key");
      htmx.ajax("GET", "/client/messages", { headers: { "X-API-key": key } });
    }
  </script>
{% endblock %}
